/* reseteo universal */

*{
	border: 0;
	margin: 0;
	/* relleno */
	padding: 0;
}

/* mostrar todas en bloque*/
article, figcaption, figure, footer, header, hgroup, nav, section{
	display: block;
}

/* para colocar la fuente que se descargó.*/
@font-face {	
    font-family: 'geometria';/* nombre con el cual se llamará en el body*/
    src: url('../fonts/Geometria-Light-webfont.eot');
    src: url('../fonts/Geometria-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geometria-Light-webfont.woff2') format('woff2'),
         url('../fonts/Geometria-Light-webfont.woff') format('woff'),
         url('../fonts/Geometria-Light-webfont.ttf') format('truetype'),
         url('../fonts/Geometria-Light-webfont.svg#geometria_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	/* fondo oscuro e imagen de fondo*/
	background: /*#212121*/ url(../img/fondo1.png);
	/* color de la fuente */
	color: #763C1C;
	/* tipo de letra */
	font-family: "geometria", Helvetica, Verdana;
	/* tamaño de la letra */
	font-size: 18px;
}

a{
	color: #57ABB8;
	/* en negrita la letra*/
	font-weight: bold;
	/* quitar la línea a los enlaces */
	text-decoration: none;
}

/* hover = pasar el ratón sobre el enlace */
a:hover{
	color: #F60;
}


/* nuevo */
audio, iframe, img, video{
    /* para que las imágenes se acoplen al tamaño del dispositivo */
    max-width: 100%;
}

/* nuevo contacto */
fieldset{
    border: 0.1em solid #F60;
    border-radius: 0.20em;
    padding: 1em;
}

figcaption{
	font-size: 0.85em;
	padding: 0.25em;
	text-align: center;
}

/* nuevo contacto */
form{
    width: 100%;
}

/* nuevo contacto */
form div{
    margin: 0.5em;
}

h2, h3{
    color: #763C1C;
    font-family: "geometria" Helvetica;
}

h3{
    /*background: #E2E7F1;
    border-radius: 1em;
    box-shadow: 0.25em 0.25em 0.25em rgba(255, 153, 0, 0.5);*/
    margin-bottom: 0.5em;
    padding-left: 0.5em;
	text-align: Center;
}

hr{
    border: 1px dashed #FFF;
    margin: 1em 0;
}

/* nuevo contacto */
iframe{
    border-radius: 0.20em;
}

/* nuevo contacto */
input[type="email"], [type="text"], textarea{
    background: #FFF;
    border-radius: 0.20em;
    color: #763C1C;
    font-size: 1em;
    padding: 0.25em;
    width: 95%;
}

/* nuevo contacto */
input[type="email"]:focus, [type="text"]:focus, textarea:focus{
    background: #FFF;
}

/* nuevo contacto */
input[type="submit"]{
    background: #B87529;
    border-radius: 0 0.20em;
    color: #500;
    font-size: 1.25em;
    padding: 0.25em;
}

/* nuevo contacto */
input[type="submit"]:hover{
    background: #E09F7B;
    border-radius: 0.20em 0;
    color: #000;
    cursor: pointer;
}

/* nuevo contacto*/
label{
    cursor: pointer;    
}

/* nuevo contacto*/
legend{
    color: #763C1C;
    font-size: 1.2em;
    font-weight: bold;
}

/* nuevo */
ol{
    padding: 0 2em;
}

/* "espacio" solo los li qu esten en un ol */
ol li{
    padding: 1em 0;
	text-align: Left;
}

textarea{
    resize: none;
}

/*ul{
    font-size: 18px;
    list-style: none;
	padding: 1em 0;
	text-align: Left;
}*/

header, section#contenido, footer{
	background: #FFF /*url(../img/fondo-interno.jpg)*/;
    margin: 0 auto;
    /*medidas relativas */
    max-width: 90%;
    text-align: center;
}

header h1, nav{
    /* ver en línea de bloque, misma altura */
    display: inline-block;
    /* 100% del objeto padre, en este caso header */
    max-width: 100%;
    /* alineación a la mitad del otro objeto */
    vertical-align: middle;
    /* vertical-align: top; */
}

nav ul{
    /* quitar las etiquetas */
    list-style: none;
}

nav li{
    display: inline-block;
    padding: 0.1em;
    vertical-align: top;
}

nav a{
    background: #FFF;
    /*border: 0.1em solid #57ABB8;*/
    border-radius: 0.20em;
    /* letra */
    color: #B87529;
    display: block;
    font-family: "geometria", Helvetica, Verdana;
    font-size: 1.4em;
    padding: 0.2em;
    /* para que el efecto no se haga precipitadamente */
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;

}

nav a:hover{
    background: #B87529;
    /* dashed = discontínua */
    border: 0.1em /*dashed*/ #F60;
    border-radius: 0 0.5em 0 0.5em;
    color: #FFF;
    /* para que el efecto no se haga precipitadamente */
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

section#principal, aside{
    background: #E9EAED;
    border-radius: 0.20em;
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
	min-height: Auto;
    padding: 0.25em;
    vertical-align: top;
    width: 65%;
}

article#galeria-inicio{
    border-radius: 0.20em;
    margin: 0.5em;
    padding: 0.5em;
    text-align: left;
    /* respecto al padre section#principal */
    width: 95%;
}

aside{
    width: 30%;
}

/* tiene nuevo */
aside img, #img-servicios{
    border-radius: 0.20em;
}

/* nuevo acerca */
article#descripcion-acerca, article#multimedia-acerca{
    background: #E9EAED;
    border-radius: 0.20em;
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    /*min-height: 620px;*/
    padding: 0.5em;
    text-align: justify;
    vertical-align: top;
    width: 55%;
}

article#multimedia-acerca{
    text-align: center;
    width: 40%;
}


/* nuevo servicios */
section#servicios-principal, section#sercivios-tipos{
    margin: 0 auto;
    max-width: 95%;
}

/* nuevo servicios */
#img-servicios, article#nuestros-servicios{
    display: inline-block;
    margin: 1em 0;
    vertical-align: top;
    width: 40%;
}
/* nuevo servicios */
article#nuestros-servicios,/*article#servicio1,*/ article#servicio2, article#servicio3{
    background: #FFF;
    border-radius: 0.20em;
    max-width: 100%;
    min-height: 275px;
    padding: 0.5em;
    text-align: justify;
	vertical-align: top;
	width: 55%;
}

/* nuevo servicios */
/*article#servicio1,*/article#servicio2,article#servicio3{
    background: #FFF;
    display: inline-block;
	/*text-align: center;*/
	vertical-align: top;
    width: 31%;    
}

/* nuevo servicios */
article#servicio2{
    text-align: center;
	width: 64%;
}

/* nuevo contacto */
section#contacto, section#mapa{
    background: #E9EAED;
    border-radius: 0.20em;
    display: inline-block;
    margin: 0 auto;
    min-height: 350px;
    padding: 0.5em;
    text-align: justify;
    vertical-align: top;
    width: 45%;
}

/* nuevo contacto */
section#mapa{
    text-align: center;
}

/* nuevo contacto */
article#info-contactanos, article#contactanos{
    border: .1em solid #FFF;
    border-radius: 0.20em;
    margin: 0.5em;
    /*min-height: 144px;*/
    padding: 0.5em;
}

/* nuevo contacto */
span.datos-contacto{
    color: #B87529;
    margin-left: 1em;
}

footer{
    color: #763C1C;
    font-size: 1em;
    padding: 0.75em 0;

}

/* fade = desvanece */
.fade{
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    /* opacidad 1=100% */
    opacity: 1;
    /* para que los navegadores interpreten la opacidad 10=100% */
    filter:alpha(opacity=10);
}

.fade:hover{
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    /* opacidad 1=100% */
    opacity: 0.7;
    /* para que los navegadores interpreten la opacidad 10=100% */
    filter:alpha(opacity=7);
}

/* nuevo trabajos */
.redonda{
    /* las imágenes mini miden 100px por 100px */
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.7);
}

/* --tiene nuevo-- cuando la pantalla sea de 1081px para arriba */
@media screen and (min-width: 1081px){
    header h1{
        text-align: left;
        width: 35%;
    }

    nav{
        text-align: right;
        width: 60%;
    }
}

/* cuando la pantalla sea de 1081px para abajo */
@media screen and (max-width: 1081px){
    nav li{
        font-size: 1.3em;
    }

    article#galeria-inicio{
        width: 90%;
    }

    aside{
        width: 20%;
    }

    /* nuevo acerca */
    article#descripcion-acerca, article#multimedia-acerca, #img-servicios, article#nuestros-servicios,article#servicio2, article#servicio3{
        width: 45%;
    }
    
    /* nuevo servicios */
    /*article#servicio1, article#servicio2, article#servicio3{
        width: 30%;
    }*/

    /* nuevo trabajos */
    section#trabajos{
        max-width: 90%;        
    }

    /* nuevo trabajos */
    div.portafolio article{
        padding: 0.5em;
    }

    /* nuevo contacto */
    form{
        width: 95%;
    }
}

/* cuando la pantalla sea de 800px para abajo */
@media screen and (max-width: 800px){
    nav li{
        font-size: 0.95em;
    }
    
	section#principal{
        margin-bottom: 0.2em;
    }
	
    article#galeria-inicio{
        width: 88%;
    }

    #img-servicios, article#nuestros-servicios, article#servicio1,article#servicio2, article#servicio3{
        display: block;
        margin: 0 0 0.25em 0;
        width: 95%;
    }

    /*#img-servicios{
        width: 98%;
    }

    article#servicio2, article#servicio3{
        width: 45%;
    }*/

    /* nuevo trabajos */
    section#trabajos{
        max-width: 95%;
    }

    /* nuevo trabajos */
    div.portafolio article{
        padding: 2em;
    }

    /* nuevo contacto */
    section#contacto, section#mapa{
        display: block;
        width: 95%;
    }

    /* nuevo contacto */
    section#contacto{
        margin-bottom: 0.2em;
    }

}

/* cuando la pantalla sea de 600px para abajo */
@media screen and (max-width: 600px){
    nav li{
        display: inline-block;
        margin: 0px;
        width: 98%;
    }

    section#principal/*,article#descripcion-acerca,article#servicio1,article#servicio2*/{
        margin-bottom: 0.2em;
    }
    
    /* hay nuevo */
    section#principal, aside, article#descripcion-acerca, article#multimedia-acerca, article#servicio1, article#servicio2, article#servicio3{
        display: block;
        width: 95%;
    }

    #img-servicios{
        display: none;
    }

    /* nuevo trabajos*/
    div.portafolio article{
        display: block;
        margin: 0.5em auto;
        padding: 0;
    }
}

